<!DOCTYPE html>
<html>
<head>
  <title>Fundmanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

        <div class="container">
          <% if notice.present? %>
            <p class="flash alert alert-success"><%= notice %><span class="dismiss">X</span></p>
          <% end %>
          <% if alert.present? %>
            <p class="flash alert alert-danger"><%= alert %><span class="dismiss">X</span></p>
          <% end %>
          <%= yield %>
        </div>

</body>
</html>

